@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap');


/* 전체 설정 */
html{cursor: url(../images/mouse.png), auto}
body{font-family:'Noto Sans KR',sans-serif; color:#2b2b2b;}
#wrap{height:calc(100vh - 250px)}
::selection{background-color:#bbdcfb;}



/* section - design */
#design{position:relative; width:1200px; height:100vh; margin:0 auto;}
#design>h2{margin-bottom:20px; padding-top:50px; font-size:70px; font-weight:500; color:#425a73; letter-spacing:1px; text-align:center;}

#design>.container{position:relative; overflow:hidden; width:990px; height:530px; margin:0 auto;}
#design>.container>ul{position:absolute; top:0; left:0; width:2970px; height:530px;}
#design>.container>ul>li{float:left; position:absolute; top:0; left:990px; width:990px; height:530px; background-color:#fff;}
#design>.container>ul>li>.gallery>li{float:left; text-align:center; font-size:22px; border:1px solid #ccc; box-sizing:border-box;}

#design>.container>ul>li:first-child{left:0;}
#design>.container>ul>li>.web>li:nth-child(1){width:380px; height:360px; margin-right:10px; line-height:360px; background-image:url(../images/design_3_cardnews.jpg);}
#design>.container>ul>li>.web>li:nth-child(2){width:275px; height:360px; margin-right:10px; line-height:360px; background-image:url(../images/design_3_eventpage.jpg);}
#design>.container>ul>li>.web>li:nth-child(3){width:315px; height:360px; line-height:360px; background-image:url(../images/design_3_detailpage1.jpg);}
#design>.container>ul>li>.web>li:nth-child(4){width:665px; height:160px; margin:10px 10px 0 0; line-height:160px; background-image:url(../images/design_3_banner.jpg);;}
#design>.container>ul>li>.web>li:nth-child(5){width:315px; height:160px; margin-top:10px; line-height:160px; background-image:url(../images/design_3_detailpage2.jpg);}

#design>.container>ul>li>.major>li:nth-child(1){width:370px; height:530px; margin-right:10px; line-height:360px; background-image:url(../images/design_1_poster.jpg);}
#design>.container>ul>li>.major>li:nth-child(2){width:275px; height:282px; margin-right:10px; line-height:282px; background-image:url(../images/design_1_CI.jpg);}
#design>.container>ul>li>.major>li:nth-child(3){width:325px; height:282px; line-height:282px; background-image:url(../images/design_1_package.jpg);}
#design>.container>ul>li>.major>li:nth-child(4){float:right; width:610px; height:238px; margin-top:10px; line-height:238px; background-image:url(../images/design_1_web.jpg);}

#design>.container>ul>li>.graphic>li:nth-child(1){width:300px; height:260px; margin-right:10px; line-height:260px; background-image:url(../images/design_2_package.jpg);}
#design>.container>ul>li>.graphic>li:nth-child(2){width:300px; height:260px; margin-right:10px; line-height:260px; background-image:url(../images/design_2_infographic1.jpg);}
#design>.container>ul>li>.graphic>li:nth-child(3){float:right; width:370px; height:530px; line-height:530px; background-image:url(../images/design_2_infographic2.jpg);}
#design>.container>ul>li>.graphic>li:nth-child(4){width:300px; height:260px; margin:10px 10px 0 0; line-height:260px; background-image:url(../images/design_2_pattern.jpg);}
#design>.container>ul>li>.graphic>li:nth-child(5){width:300px; height:260px; margin:10px 10px 0 0; line-height:260px; background-image:url(../images/design_2_BI.jpg);}

#design>.container>ul>li>.gallery>li>a{display:block; height:100%; text-indent:-9999px;}
#design>.container>ul>li>.gallery>li:hover>a,#design>.container>ul>li>.gallery>li>a:focus{text-indent:0; color:#fff; background-color:rgba(0,0,0,0.5);}

#design>button{position:absolute; top:50%; margin-top:80px; outline:none; border:none; background:none; width:21px; height:41px; text-indent:-9999px; background-image:url(../images/sprite.png);}
#design>.prev{left:70px; background-position:0 0;}
#design>.next{right:70px; background-position:-31px 0;}
#design>.prev:hover,#design>.prev.on{background-position:0 -42px;}
#design>.next:hover,#design>.next.on{background-position:-31px -42px;}

/* section - design + popup gallery*/
#design>.gallery_bg{display:none; position:fixed; left:0; top:0; z-index:400; width:100%; height:100%; background-color:rgba(0,0,0,0.5);}
#design>.gallery_bg>.gallery_img{position:fixed; left:50%; top:50%; z-index:410; margin:-375px 0 0 -500px; width:1000px; height:750px; background-color:#fff;}
#design>.gallery_bg>.gallery_img>.gallClose{display:block; height:750px; text-indent:-9999px;}








@charset "utf-8";

/* 레이아웃 지정해준 파일이다. */


html,body{width:100%; height:100%;}

html,body,div,span,h1,h2,h3,h4,h5,h6,p,
blockquote,q,abbr,address,cite,code,img,
ul,ol,li,dl,dt,dd,a,sub,sup,strong,em,
header,nav,section,article,footer,aside,
form,fieldset,legend,label,video,
table,caption,thead,tbody,tfoot,tr,th,td
{margin:0px; padding:0px; border:none;}/*border:0;*/

header,nav,section,article,footer,aside{display:block;}
button,label{cursor:pointer;}
table{border-collapse:collapse;}
textarea{resize:none;}

a:link{color:black; text-decoration:none;}
a:visited{color:black; text-decoration:none;}
a:hover{color:black; text-decoration:none;}
a:active{color:black; text-decoration:none;}

body{overflow-y:scroll; color:black; font-size:1em; font-family:돋움,dotum,굴림,gulim; line-height:1.4;}

hr,legend,caption{display:none;}
ul,ol,li{list-style:none;}
q{quotes:none;}
address,em{font-style:normal; font-weight:400;}

.text-center{height:100px; line-height:100px; text-align:center;}
.sr-only{display:none; text-indent:-9999px;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; clear:both; content:'';}



